Type Conversion in Python

convert one data type to another

1. Implicit Type Conversion
2. Explicit Type Conversion

Implicit Type Conversion
- Python will automatically convert one data type to another
- Python will not do any type conversion if the data types are the same

In [1]:
x = 10
 
print("x is of type:",type(x))
 
y = 10.6
print("y is of type:",type(y))
 
x = x + y
 
print(x)
print("x is of type:",type(x))

x is of type: <class 'int'>
y is of type: <class 'float'>
20.6
x is of type: <class 'float'>

Explicit Type Conversion

the data type is manually changed by the user as per their requirement
int()  =>converts any data type to integer
float() =>convert any data type to a floating-point number 
str()  =>convert any data type to a string
tuple() =>convert any data type to a tuple
set() =>convert any data type to a set
list() =>convert any data type to a list
dict()  =>convert any data type to a dictionary

In [2]:
s = '123'
print(s)
print(type(s))


num = int(s)

print(num)
print(type(num))


float_num = float(s)
print(float_num)
print(type(float_num))

123
<class 'str'>
123
<class 'int'>
123.0
<class 'float'>

In [3]:
a = 123
b = '123'
print(a)
print(b)
print(type(a))
print(type(b))

s = str(a)
print(s)
print(type(s))

print(s + b)

b = int(b)

sum = a + b

print(sum)

#sum  = a + b
# sum = int(a) + int(b)
# print(sum)
# print(type(sum))

123
123
<class 'int'>
<class 'str'>
123
<class 'str'>
123123
246

In [4]:
s = 'python'
print(s)
print(type(s))


l = list(s)
print(l)
print(type(l))



t = tuple(s)
print(t)
print(type(t))



s1 = set(s)
print(s1)
print(type(s1))

python
<class 'str'>
['p', 'y', 't', 'h', 'o', 'n']
<class 'list'>
('p', 'y', 't', 'h', 'o', 'n')
<class 'tuple'>
{'t', 'p', 'y', 'n', 'h', 'o'}
<class 'set'>

In [5]:
tup = (('a', 1) ,('b', 2), ('c', 3))
print(tup)
print(type(tup))
d = dict(tup)
print(d)
print(type(d))

(('a', 1), ('b', 2), ('c', 3))
<class 'tuple'>
{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

In [6]:
tup = (('a', 1) ,('b', 2), ('c', 3))

print(tup)
print(type(tup))


d = dict(tup)

print(d)
print(type(d))

(('a', 1), ('b', 2), ('c', 3))
<class 'tuple'>
{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

In [7]:
print(d['c'])

3

In [8]:
d = {1:'bickky', 2:'value', 3:3}
print(d)
print(type(d))

{1: 'bickky', 2: 'value', 3: 3}
<class 'dict'>

In [9]:
d[3]

3